@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}
h1{
	font-size: 2vmax;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}
h2{
	font-size: 1.5vmax;	
}
h3{
	font-size:1vmax;
}
h4{
	font-size:.5vmax;
}


/* Helps position submenu */
.dropdown-submenu {
  position: relative;
}
/* Menus under the submenu should show up on the right of the parent */
.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}
/* Make submenu visible when hovering on link */
.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.form-horizontal .has-feedback .form-control-feedback {
	top: 0;
	right: 15px;
}
.form-horizontal .has-feedback .form-control-feedback {
	 top: 0;
	 right: -30px;
 }

#query01Title, #query03Title,#query05Title,#query08Title{
	height: 100px;
}

#query04,#query04Title, #studentLevelYear{
	height: 100px;
	position: relative;
	top: 150px;
}
#query02Title, #coursesBySemester{
	height: 75px;
	position: relative;
	top: 100px;
}
#committeeList{
	position: relative;
	top: 50px;
}

#query02{
	position: relative;
	top: 450px;
}
:-moz-any(.dupa), #query02 {
	position: relative;
	top: 400px;

}
:-moz-any(.dupa),#query02Title, #coursesBySemester{
	height: 75px;
	position: relative;
	top: 100px;
}
#query08{
	 position: relative;
	 top: 100px;
 }

#query04{
	  position: relative;
	  top: 200px;
  }